*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li a {
  display:block;
  width: 60px 60px 60px;
}

nav,
ul,
li{
  display: flex;
  justify-content:space-around ;
  margin: 20px 15px 20px 15px ;
  list-style-type: none;
  text-orientation: mixed;
}

.nav-link{
  list-style: none;
  font-size: 25px;
}

h1{
  text-align: center;
  margin: 5px;
}

a:hover{
  color: #c28126;
  padding:0px;
  border-radius: 15px;
}

a{
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/*paragraph text*/
.box{
  margin: 20px 70px 5px 70px;
  margin-bottom: 130px;
  padding: 30px;
  border-radius: 25px;
  border: 2px solid #9E8B62;
  background-color: #E5D5C7;

}
/*image-box and image-container*/

.logo,
.image {
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.image {
  margin: 50px;
  padding: 40px;
}

.image-box,
.image-container {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.image-box {
  background-image: url('/images/couchGuy(2).JPG');
}

.image-container {
  background-image: url('/images/sittingatcomputer(2).JPG');
}

.image-box img,
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.image-box:hover img,
.image-container:hover img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}


/**/

.nav-footer{
  display:block;
  width: 60px 60px 60px;
  display: flex;
  justify-content:space-around ;
  margin: 20px 15px 20px 15px ;
  list-style-type: none;
  text-orientation: mixed;
  list-style: none;
  font-size: 15px;
}

/*footer*/

footer{
  margin-top: auto;
  margin: 0;
  padding:10px;
  bottom: 0;
  position: fixed; 
  width:100%;
  background-color: #9E8B62;
}

.footer-link{
  text-decoration: none;
}





